body{
    font-family: "Work Sans";
}

/* think box styles */

.think-box-title{
    font-size: 30px;
    /* color: #FFFFFF; */
    margin-bottom: 9px;
}
.section-description{
    font-size: 8px;
    margin-top: 0px;
    margin-bottom: 13px;   
    margin-left: 50px;
}
.think-box{
    padding: 50px 70px 50px 390px;
    text-align: right;
    background-image: url('../new-year-new-me/images/banner/banner3.png');
    background-repeat: none;
    background-size: 750px 315px;
    max-height:808px ;
    
    
}
.primary-btn{
    border: none;
    color: #005FAC;
    background-color: #FFFFFF;
    font-size: 10px;
    /* background-size: 90px 30px; */
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-top: 0px;
}
/* failures section style */

.failures{
    display: flex;
}
.failures-title{
    font-size: 20px;
    margin-bottom: 0px;
}
.failures-description{
    font-size: 8px;
    margin-top: 10px;
}
.failures-list{
    font-size: 8px;
}
.failures-content{
    padding: 120px 150px 60px 0px;
}
.failures-picture{
    margin: 40px 40px 30px 100px ;
}

/* plans section style */

.plans-container{
    display: flex;
    justify-content: center;   
}
.plans{
    text-align: center;
}
.plan-name{
    font-size: 14px;
}
.plan-description{
    font-size: 11px;
}
.plans-item{
    margin-right: 40px;
}
